.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.move {
  margin-left: 50%;
}
.background {
  background-color: white;
}

.design {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  letter-spacing: 0.4px;
  word-spacing: 0.2px;
  color: #439aff;
  font-weight: 400;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.design3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  letter-spacing: -0.2px;
  word-spacing: 0.2px;
  color: black;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  margin-left: 20px;
}
.design2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  letter-spacing: -0.2px;
  word-spacing: 0.2px;
  color: black;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}
